In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("./covid.csv", index_col=0)

In [10]:
medellin = df.groupby("Ciudad de ubicación")

In [33]:
fallecidos = df[df["Estado"] == "Fallecido"]

In [34]:
df.head(1)

,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico
ID de caso,,,,,,,,,,,,,,,,,,,,
3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,ESPAÑA,2020-02-29T00:00:00.000,NaN,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000,PCR,5,724.0,Otro,NaN

In [47]:
fallecidos_ciudad = fallecidos.groupby("Ciudad de ubicación").count().sort_values("Edad", ascending=False)

211390

In [90]:
fallecidos[fallecidos["Edad"] < 20]["Sexo"].value_counts()

M    3
F    1
Name: Sexo, dtype: int64

In [92]:
lista = np.array([1,2,3,4])

In [96]:
lista.shape

(4,)

In [106]:
lista.reshape(4,1).T

array([[1, 2, 3, 4]])

In [107]:
lista.T

array([1, 2, 3, 4])

## 10 minutes to pandas